.nav-link{
    margin-right: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: dimgray;
}

.nav{
    background-color: lightgray;
    height: 50px;
    font-size: 20px;
}

.nav-item{
    float: right;
}
.active-nav{
    text-decoration: underline;
}